/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 8:23:06 PM
    Author     : Robert Smith
*/

body {
    font-family: 'Lato', sans-serif;
}

.active {
    border: 3px solid black;
}

ul#home-nav {
    list-style-type: none;
}

ul#home-nav li {
    display: inline;
}


.tools-nav {
    margin-bottom: 2%;
}

/* Fonts */

p {
    font-size: .9em;
}


/* required astrix */
.required-ast {
    color: red;
}

#tools-list-btn {
    width: 100%;
    margin-top: 2%;
}

.app-action-btn {
    width: 100%;
    margin-bottom: 2%;
}

.tool-btn-lg {
    width: 100%;
}

#btn-add-tool {
    margin-bottom: 2%;
}
/* Responsive */

/* XS Default */

#app-container {
    margin-top: 2%;
    margin: 2% 2% 0 2%;
}

/* SM */
@media (min-width: 768px) { }


/* MD */
@media (min-width: 992px) {}

/* LG */
@media (min-width: 1200px) {}