<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          
                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>
    
    <h3 class="text-center">Add Operator</h3>
    <hr>
    <p class="pull-right required-ast">*Required</p>
</div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" data-ng-controller="addOperatorController">
        <form>
            <div class="form-group">
                <label>Operator Name<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newOperator.operatorName">
            </div>
            <div class="form-group">
                <label>Operator Number<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newOperator.operatorNumber">
            </div>
   
            <button id="btn-add-tool" data-ng-click="addOperator()" type="submit" class="btn btn-default tool-btn-lg">
                Add Tool to List
            </button>
        </form>
        
    </div>
