<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          
                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>
    
    <h3 class="text-center">Add Job</h3>
    <hr>
    <p class="pull-right required-ast">*Required</p>
</div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" data-ng-controller="addJobController">
        <form>
            <div class="form-group">
                <label>Customer Name<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.customerName">
            </div>
            <div class="form-group">
                <label>Customer Phone Number<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.customerPhoneNumber">
            </div>
            <div class="form-group">
                <label>Customer Email<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.customerEmail">
            </div>
            <div class="form-group">
                <label>Job Number<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.jobNumber">
            </div>
            <div class="form-group">
                <label>Job Revision<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.jobRevision">
            </div>
            
            <div class="form-group">
                <label>Job Piece Qty<span class="required-ast">*</span></label>
                <input class="form-control" data-ng-model="newJob.jobPieceQty">
            </div>
            <div class="form-group">
                <label>Job Description<span class="required-ast">*</span></label>
                <textarea class="form-control" rows="9" data-ng-model="newJob.jobDescription"></textarea>
            </div>


            <button id="btn-add-tool" data-ng-click="addJob()" type="submit" class="btn btn-default tool-btn-lg">
                Add Job to List
            </button>
        </form>
        
    </div>
