<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          
                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>
    
    <h3 class="text-center">Add Tool</h3>
    <hr>
    <p class="pull-right required-ast">*Required</p>
</div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" data-ng-controller="addToolController">
        <form>
            <div class="form-group">
                <label>Tool Type: <span class="required-ast">*</span></label>
                <select data-ng-model="newTool.type" class="form-control">
                    <option value="">Select Tool Type</option>
                    <option value="end mill">End Mill</option>
                    <option value="drill">Drill</option>
                    <option value="center drill">Center Drill</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tool Material: <span class="required-ast">*</span></label>
                <select data-ng-model="newTool.material" class="form-control">
                    <option value="">Select Material</option>
                    <option value="carbide">Carbide</option>
                    <option value="hss">HSS</option>
                    <option value="cobalt/hss">Cobalt/HSS</option>
                </select>
            </div>
            <div class="form-group">
                <label>Diameter: <span class="required-ast">*</span></label>
                <input data-ng-model="newTool.diameter" placeholder="Input Tood Diameter" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Flutes:</label>
                <select data-ng-model="newTool.numberOfFlutes" class="form-control">
                    <option value="">Select Number of Flutes</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="form-group">
                <label>End Type:</label>
                <select data-ng-model="newTool.endType" class="form-control">
                    <option value="">Select End Type</option>
                    <option value="flat nose">Flat Nose</option>
                    <option value="bull nose">Bull Nose</option>
                    <option value="ball nose">Ball Nose</option>
                    <option value="chamfer">Chamfer</option>
                    <option value="drill">Drill</option>
                </select>
            </div>
            <div class="form-group">
                <label>Length of Cut:</label>
                <input data-ng-model="newTool.lengthOfCut" type="text" class="form-control" placeholder="Input Length of Cut">
            </div>
            <div class="form-group">
                <label>Overall Length:</label>
                <input data-ng-model="newTool.overallLength" type="text" class="form-control" placeholder="Input Overall Length">
            </div>
            <div class="form-group">
                <label>Qty:</label>
                <input data-ng-model="newTool.qty" type="number" class="form-control" placeholder="Input Tool Qty">
            </div>
            <div class="form-group">
                <label>Coating:</label>
                <input data-ng-model="newTool.coating" type="text" class="form-control" placeholder="Input Tool Coating">
            </div>
            <div class="form-group">
                <label>Shank Diameter:</label>
                <input data-ng-model="newTool.shankDiameter" type="text" class="form-control" placeholder="Input Shank Diameter">
            </div>
            <div class="form-group">
                <label>Helix Angle:</label>
                <input data-ng-model="newTool.helixAngle" type="text" class="form-control" placeholder="Input Helix Angle">
            </div>
            <div class="form-group">
                <label>Shank Type:</label>
                <input data-ng-model="newTool.shankType" type="text" class="form-control" placeholder="Input Shank Type">
            </div>
            <div class="form-group">
                <label>Flute Direction:</label>
                <select data-ng-model="newTool.fluteDirection" class="form-control">
                    <option value="">Select Flute Direction</option>
                    <option value="right hand spiral">Right Hand Spiral</option>
                    <option value="left hand spiral">Left Hand Spiral</option>
                </select>
            </div>
            <div class="form-group">
                <label>Single or Double End:</label>
                <select data-ng-model="newTool.singleDoubleEnd" class="form-control">
                    <option value="">Select Single or Double End</option>
                    <option value="single end">Single End</option>
                    <option value="double end">Double End</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cutting Edge Profile:</label>
                <select data-ng-model="newTool.cuttingEdgeProfile" class="form-control">
                    <option value="">Select Cutting Edge Profile</option>
                    <option value="plain">Plain</option>
                </select>
            </div>
            <div class="form-group">
                <label>Inch or Millimeter</label>
                <select data-ng-model="newTool.inchOrMill" class="form-control">
                    <option value="">Select Inch Millimeter</option>
                    <option value="inch">Inch</option>
                    <option value="millimeter">Millimeter</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cutting Direction:</label>
                <select data-ng-model="newTool.cuttingDirection" class="form-control">
                    <option value="">Select Cutting Direction</option>
                    <option value="right hand">Right Hand</option>
                    <option value="left hand">Left Hand</option>
                </select>
            </div>
            <div class="form-group">
                <label>Coolant Provision:</label>
                <select data-ng-model="newTool.coolantProvision" class="form-control">
                    <option value="">Select Coolant Provisions</option>
                    <option value="external">External</option>
                    <option value="through tool">Through Tool</option>
                </select>
            </div>
            <button id="btn-add-tool" data-ng-click="addTool()" type="submit" class="btn btn-default tool-btn-lg">
                Add Tool to List
            </button>
        </form>
        
    </div>
