<div data-ng-controller="toolsCheckoutController">    
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          
                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>

        
        <h3 class="text-center">Checkout Tool</h3>
        <hr>
        <a href="#/description/{{tool.id}}">
            <h4 class="text-center">{{tool.diameter}} {{tool.numberOfFlutes}} flute {{tool.material}} {{tool.type}}</h4>
        </a>
        <h4 class="text-center">Qty: {{tool.qty}}</h4>
        
        <p class="pull-right required-ast">*Required</p>
        
    </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <form>
                <div class="form-group">
                    <label>Operator Name: <span class="required-ast">*</span></label>
                    <select data-ng-model="checkout.operatorName" class="form-control" data-ng-options="operator.operatorName for operator in operators">
                    </select>
                </div>
                <div class="form-group">
                    <label>Job Number: <span class="required-ast">*</span></label>
                    <select data-ng-model="checkout.jobNumber" class="form-control" data-ng-options="job.jobNumber for job in jobs">
                    </select>

                </div>
                <div class="form-group">
                    <label>Qty Removed: <span class="required-ast">*</span></label>
                    <input data-ng-model="checkout.qtyRemoved" 
                        id="tool_checkout_qty_removed" class="form-control" type="text">
                </div>
                <button data-ng-click="checkoutTool()" class="btn btn-default">Checkout</button>
                <button data-ng-click="clearCheckoutForm()" class="btn btn-default">Clear</button>
            </form>
    
        </div>
   
</div>