<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
<div data-ng-controller="descriptionController">
                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>
<a href="#/checkout/{{tool.id}}"> 
    <button class="btn btn-default tool-btn-lg">
        Checkout
    </button>
</a>
<h4 class="text-center">
    {{tool.diameter}}" {{tool.numberOfFlutes}} flute {{tool.material}} {{tool.type}} 
</h4>
<h4 class="text-center">Qty: {{tool.qty}}</h4>
<h3 class="text-center">Specifications</h3>

<table class="table">
    <tr>
        <td>Tool Type</td>
        <td>{{tool.type}}</td>
    </tr>
    <tr>
        <td>Tool Material</td>
        <td>{{tool.material}}</td>
    </tr>
    <tr>
        <td>Tool Diameter</td>
        <td>{{tool.diameter}}</td>
    </tr>
    <tr>
        <td>Number of Flutes</td>
        <td>{{tool.numberOfFlutes}}</td>
    </tr>
    <tr>
        <td>End Type</td>
        <td>{{tool.endType}}</td>
    </tr>
    <tr>
        <td>Length of Cut</td>
        <td>{{tool.lengthOfCut}}</td>
    </tr>
    <tr>
        <td>Overall Length</td>
        <td>{{tool.overallLength}}</td>
    </tr>
    <tr>
        <td>Coating</td>
        <td>{{tool.coating}}</td>
    </tr>
    <tr>
        <td>Shank Diameter</td>
        <td>{{tool.shankDiameter}}</td>
    </tr>
    <tr>
        <td>Helix Angle</td>
        <td>{{tool.helixAngle}}</td>
    </tr>
    <tr>
        <td>Shank Type</td>
        <td>{{tool.shankType}}</td>
    </tr>
    <tr>
        <td>Flute Direction</td>
        <td>{{tool.fluteDirection}}</td>
    </tr>
    <tr>
        <td>Single End/ Double End</td>
        <td>{{tool.singleDoubleEnd}}</td>
    </tr>
    <tr>
        <td>Cutting Edge Profile</td>
        <td>{{tool.cuttingEdgeProfile}}</td>
    </tr>
    <tr>
        <td>Inch or Millimeter</td>
        <td>{{tool.inchOrMill}}</td>
    </tr>
    <tr>
        <td>Cutting Direction</td>
        <td>{{tool.cuttingDirection}}</td>
    </tr>
    <tr>
        <td>Coolant Provision</td>
        <td>{{tool.coolantProvision}}</td>
    </tr>

</table>
</div>
    