<div data-ng-controller="lowToolsController">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <a href="#/">    
        <button class="btn btn-success app-action-btn">
            Return To Tools List
        </button>
    </a>
    <a href="#/main-menu">
        <button class="btn btn-primary app-action-btn">Main Menu</button>
    </a>
    <h3 class="text-center">Low Qty Tools</h3>
    <hr>
        <div class="form-group">
            <label>Find Tools with Qty lower than:</label>
            <input class="form-control" data-ng-model="toolLowerThan">
        </div>
            <button class="btn btn-default tool-btn-lg" data-ng-click="filterLowerThan()">Find Low Tools</button>

    <div style="margin-top: 3%;" class="row" data-ng-repeat="lowTool in lowTools">
            <div class="row">
                <div class="col-xs-7">
                    <p>
                        <a href="#/description/{{lowTool.id}}">
                            {{lowTool.diameter}} {{lowTool.numberOfFlutes}} flute {{lowTool.material}} {{lowTool.type}}
                        </a>
                    </p>
                </div>
                <div class="col-xs-5">
                    <a href="#/checkout/{{lowTool.id}}">
                    <span class="glyphicon glyphicon-check"></span>
                    Checkout
                    </a>
                </div>
            </div>
    </div><!-- end row -->
    </div>
</div>