<div data-ng-controller="mainMenuController">    
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          

                <a href="#/">    
                    <button class="btn btn-success app-action-btn">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn active">Main Menu</button>
                </a>
        
        <h3 class="text-center">Main Menu</h3>
        <hr>
        
    </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            
                <a href="#/add-tool">
                    <button class="btn btn-default app-action-btn">Add Tool</button>
                </a>

                <a href="#/add-job">
                    <button class="btn btn-default app-action-btn">Add Job</button>
                </a>

                <a href="#/add-operator">
                    <button class="btn btn-default app-action-btn">Add Operator</button>
                </a>
            
                <a href="#/reports">
                    <button class="btn btn-default app-action-btn">Reports</button>
                </a>
        </div>
   
</div>