<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav">          
    <a href="#/">    
        <button class="btn btn-success app-action-btn">
            Return To Tools List
        </button>
    </a>
    <a href="#/main-menu">
        <button class="btn btn-primary app-action-btn">Main Menu</button>
    </a>
    <h3 class="text-center">Reports</h3>
    <hr>
    <a href="#/low-tools">
        <button class="btn btn-default app-action-btn">Low Tools</button>
    </a>
    <a href="#/tool-usage-by-job">
        <button class="btn btn-default app-action-btn">Tool Usage By Job</button>
    </a>
    <a href="#/tool-usage-by-operator">
        <button class="btn btn-default app-action-btn">Tool Usage By Operator</button>
    </a>

    
</div>