<div data-ng-controller="ToolsListController as toolList">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 tools-nav"> 
                <a href="#/">    
                    <button class="btn btn-success app-action-btn active">
                        Return To Tools List
                    </button>
                </a>
                <a href="#/main-menu">
                    <button class="btn btn-primary app-action-btn">Main Menu</button>
                </a>
        <hr>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" data-ng-model="query" placeholder="Search">
            </div>
        </form>
    

    <div class="row" data-ng-repeat="tool in toolList.tools | filter: query">
            <div class="row">
                <div class="col-xs-7">
                    <p>
                        <a href="#/description/{{tool.id}}">
                            {{tool.diameter}} {{tool.numberOfFlutes}} flute {{tool.material}} {{tool.type}}
                        </a>
                    </p>
                </div>
                <div class="col-xs-5">
                    <a href="#/checkout/{{tool.id}}">
                    <span class="glyphicon glyphicon-check"></span>
                    Checkout
                    </a>
                </div>
            </div>
    </div><!-- end row -->
    </div>
</div>